body {
  /* Set line height to 1.5 times the font size
     and use the OS’s UI font as the website font
  */
  font: 100%/1.5 system-ui;
  max-width: 100ch; /* Set max-width to 100 characters */
  padding: 100px 50px 200px; /*Add padding to sides */
  margin: 0 auto; /* This centers the content horizontally within the max-width */
}
nav ul {
  display: contents;
}

.current{
  display: flexbox;
}